// body {
//     background: lightblue no-repeat fixed center;
// }

section {
    margin: 50px;
}

button {
    margin: 5px 10px;
}

.submit-center {
    text-align: center;
}

.addUserBtn {
    float: right;
}

.valErr {
    color: red;
    font-weight: bold;
}

label {
    font-weight: bold;
}

.action-btn {
    width: 70px;
}

.modal-msg {
    font-weight: bold;
    text-align: center;
}